[Unit]
Description=Zigbee2MQTT Bridge
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
WorkingDirectory=/usr/lib/node_modules/zigbee2mqtt
EnvironmentFile=-/etc/default/zigbee2mqtt
ExecStart=/usr/bin/node /usr/lib/node_modules/zigbee2mqtt/index.js
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
User=root
Group=root

[Install]
WantedBy=multi-user.target
